# Environment variables
.env

# Build artifacts
binance-data-parser
binance-vision-connector
test-binance-data-parser
*.exe
*.exe~
*.dll
*.so
*.dylib

# Temporary files and directories
tmp/
*.csv

# IDE files
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

